<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tokoonlineturorial">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tt"
        android:label="Toko Online"
        android:networkSecurityConfig="@xml/config_network"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TokoOnlineTurorial"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.PembayaranActivity"></activity>
        <activity android:name=".activity.ListAlamatActivity" />
        <activity android:name=".activity.TambahAlamatActivity" />
        <activity android:name=".activity.PengirimanActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.MasukActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.DetailProductActivity" />
        <activity android:name=".activity.BaruActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>